html {
    position: relative;
    min-height: 100%;
}

body {
    
    background-color: rgb(122, 127, 148);
    background-repeat: no-repeat; 
    background-size: cover;  
}

 

 .jumbotron {
    margin-top: 40px;
    height: 100px;
    z-index: auto;
}  

h1 {
    font-family: 'Special Elite', cursive; 
}
/* .caption {
    height: 150px;;
} */