html {
    position: relative;
    min-height: 100%;
}

/* body {
    
    background-color: rgb(212, 212, 212); 
    background-repeat: no-repeat; 
    background-size: cover;  
} */

.navbar-brand,
.nav-item,
h4,
h5,
.btn,
a,
li,
textarea,
h6 {
    font-family: 'Courier New', Courier, monospace;
}

.nav-item {
    font-size: 20px;
}

.jumbotron {
    margin-top: 40px;
    height: 100px;
    z-index: auto;
}

h1 {
    font-family: 'Special Elite', cursive;
}

h4,
.navbar-brand,
.nav-item,
.btn,
h6,
h5 {
    font-weight: bolder;
}



/* .caption {
    height: 150px;;
} */